<h1>Список авторов</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addAuthor()" />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of pagedAuthorItems">
            <ng-template [ngTemplateOutlet]="loadTemplate(author)"
                         [ngOutletContext]="{ $implicit: author}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>
    <!-- pagination -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>
<div>{{statusMessage}}</div>


<ng-template #readOnlyTemplate let-author>

    <td>{{author.id}}</td>
    <td>{{author.name}}</td>
    <td>{{author.surname}}</td>
    <td>
        <input type="button" value="Книги автора" class="btn btn-default" (click)="routeToBooks(author)" />
    </td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editAuthor(author)" />
    </td>
    <td>
        <input type="button" value="Удалить" class="btn btn-danger" (click)="deleteAuthor(author)" />
    </td>
</ng-template>

<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedAuthor.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedAuthor.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedAuthor.surname" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveAuthor()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>