<h1>Books List</h1>
<input type="button" value="Add Book" class="btn btn-default" (click)="addBook(hiddenAuthorId)" />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Year</td>
            <td>Name</td>
            <td>Description</td>
            <td>AuthorId</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of pagedBookItems">
            <ng-template [ngTemplateOutlet]="loadTemplate(book)"
                         [ngOutletContext]="{ $implicit: book}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>
    <!-- pagination -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>
<div>{{statusMessage}}</div>


<ng-template #readOnlyTemplate let-book>
    <td>{{book.id}}</td>
    <td>{{book.year}}</td>
    <td>{{book.name}}</td>
    <td>{{book.description}}</td>
    <td>{{book.authorId}}</td>
    <td>
        <input type="button" value="Edit" class="btn btn-default" (click)="editBook(book)" />
    </td>
    <td>
        <input type="button" value="Delete" class="btn btn-danger" (click)="deleteBook(book)" />
    </td>
</ng-template>


<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedBook.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" name="bookYear" [(ngModel)]="editedBook.year" class="form-control" #bookYear="ngModel" required/>
        <p [hidden]="bookYear.valid || bookYear.untouched" class="danger">Enter the year!</p>
    </td>
    <td>
        <input type="text" name="bookName" [(ngModel)]="editedBook.name" class="form-control" #bookName="ngModel" required />
        <p [hidden]="bookName.valid || bookName.untouched" class="danger">Enter the Name!</p>
    </td>
    <td>
        <input type="text" name="bookDescription" [(ngModel)]="editedBook.description" class="form-control"  #bookDescription="ngModel" required/>
        <p [hidden]="bookDescription.valid || bookDescription.untouched" class="danger">Enter the Description!</p>
    </td>
    <td>
        <input type="text" name="authorId" [(ngModel)]="editedBook.authorId" class="form-control" #authorId="ngModel" required/>
        <p [hidden]="authorId.valid || authorId.untouched" class="danger">Enter the authorId!</p>
    </td>
    <td>
        <button [disabled]="bookYear.invalid || bookName.invalid || bookDescription.invalid || authorId.invalid" (click)="saveBook()" class="btn btn-success">Save</button>
    </td>
    <td>
        <button (click)="cancel()" class="btn btn-warning">Cencel</button>
    </td>
</ng-template>